/**
 * NFQ Front-End Challenge - User Management System Styles
 * Author: Lukas Valatka
 * Date: 16/02/03
 * This is the main sass stylesheets file. All other files are imported, and later on compiled
 * and minified into a single stylesheet styles.css in /stylesheets directory
 */

// Base
@import "base/normalize";
@import "base/colors";
@import "base/fonts";

// Helpers
@import "helpers/containers";
@import "helpers/positioning";
@import "helpers/buttons";
@import "helpers/other";

// Pages
@import "header";
@import "pages/page";

.content {
  display: block;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  width: 100%;
  box-sizing: border-box;
}