<div class="add-item">
  <div class="full-width-height-overlay">
  <div class="add-item-form fully-centered border-box js-item-form">
    <%  _.each(attributes, function(attribute) { %>
      <div class="clearfix"><div class="left column-6"><%= attribute %>:</div> <input class="left border-box column-6" type="text" name="<%= attribute %>" /></div>
    <% }); %>

    <% if (groups) { %>
        <fieldset>
          <legend>Grupės</legend>
      <% _.each(groups, function(group) { %>
          <input type="checkbox" name="group" value="<%= group %>" /><%= group %><br />
      <% }); %>
        </fieldset>
    <% }; %>

    <div class="text-center m-top"><div class="action-button action-button--red js-item-submit">Pridėti</div></div>
  </div>
</div>