$color-dark-orange: #FFA000;
$color-yellow: #FFC107;
$color-cream: #FFECB3;
$color-white: #FFFFFF;
$color-black: #212121;
$color-red: #FF5252;
$color-light-red: #FF5260;
$color-grey: #727272;
$color-light-grey: #B6B6B6;