.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}

// Cursors
.pointer {
  cursor: pointer
}

// Mobile helper
@mixin respond-to-mobiles() {
  @media (max-width: 680px) {
     @content;
  }
}